@model MyShop.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Products</h1>

<div class="col-md-2">
    <h4>Filter by Category</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Category"]==null? "list-group-item active" : "list-group-item"  })
        @foreach (var cat in Model.ProductCategories) {
            @Html.ActionLink(cat.Category, "Index", new { Category=cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
        }
    </div>
</div>
<div class="col-md-10">

    @foreach (var item in Model.Products)
    {

        <div class="col-md-4" style="height:450px;padding:10px;margin:10px;border: solid thin whitesmoke">
            <div class="col-md-12">
                <img class="img" style="height:250px" src="~/Content/ProductImages/@item.Image" />
            </div>
            <div class="col-md-12">
                <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>
            </div>
            <div class="col-md-12">
                <p>@item.Description</p>
            </div>
            <div class="col-md-12">
                <h4>@item.Price</h4>
            </div>
            <div class="col-md-12">
                <a href="@Url.Action("AddToBasket", "Basket", new { Id=item.Id })" class="btn btn-default">Add to Basket</a>
            </div>
        </div>
    }
</div>
<div class="col-md-12 clearfix"/>
