@model MyShop.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="col-lg-12" style="text-align:center">
    <ul class="list-inline list-group" style="border: 1px solid #dedede;border-radius: 8px;">
        @foreach (var cat in Model.ProductCategories)
        {
            <li>
                @Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
            </li>
        }
    </ul>

</div>
<div class="col-lg-12">
@if (@Model.Customer != null)
{
    <p style="font-size:36px;font-weight:500">Welcome  @Model.Customer.FirstName;</p>
}
else
{
    <p style="font-size:36px;font-weight:500">Welcome  User</p>
}

</div>

<h3>Shop By Categories</h3>

<div class="col-md-12">

    @foreach (var item in Model.Products)
    {

        <div class="card col-md-3" style="height:450px;margin-bottom:5px;padding:5px;border: solid thin whitesmoke">
            <div class="col-md-12" >
                <img class="img" style="width: 100%;" src="~/Content/ProductImages/@item.Image" />
            </div>
            <div class="col-md-12">
                <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>
            </div>
            <div class="col-md-12">
                <p>@item.Description</p>
            </div>
            <div class="col-md-12">
                <h4>@item.Price</h4>
            </div>
            <div class="col-md-12">
                <a href="@Url.Action("AddToBasket", "Basket", new { Id=item.Id })" class="btn btn-default">Add to Basket</a>
            </div>
        </div>
    }
</div>
<div class="col-md-12 clearfix"/>
